<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <header>
            <a class="menuLink-1" href="../index.html" id="top"><img src="../images/logo.svg" alt="logo"></a>
            <a class="menuLink-2" href="contacts.html"><img src="../images/address-book-solid-1.svg"
                    alt="contactsBook"></a>
        </header>
    </div>
    <div class="contactsHeader">
        <div class="container">
            <h2 class="header2">Contact Us</h2>
            <p class="ContactUsParagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="contactsWrapper container">
        <div class="contacts">
            <img src="../images/ContactsPic.png" alt="photo">
            <div class="contacts-Items">
                <div class="contacts-item">
                    <h4 class="header4">Address</h4>
                    <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
                <div class="contacts-item">
                    <h4 class="header4">Phone</h4>
                    <ul>
                        <li class="phone">+11111111</li>
                        <li class="phone">+22222222</li>
                    </ul>
                </div>
                <div class="contacts-item">
                    <h4 class="header4">Online service</h4>
                    <ul>
                        <li class="site"><a href="https://www.google.com/" target="_blank">Site</a></li>
                        <li class="email">email@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sendForm">
            <h4 class="header4">Send us message</h4>
            <form>
                <div class="form-text">Full Name</div>
                <input class="inputElems" type="text" placeholder="John">

                <div class="form-text">Email</div>
                <input class="inputElems" type="email" placeholder="email@gmail.com">

                <div class="form-text">Message</div>
                <textarea class="inputElems" cols="30" rows="10" placeholder="Your message">
                </textarea>
                <button class="subButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="mapWrapper container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101408.21722940235!2d-122.15130702796334!3d37.41331444145766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2z0JzQsNGD0L3RgtC40L0t0JLRjNGOLCDQmtCw0LvQuNGE0L7RgNC90LjRjywg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1597933267265!5m2!1sru!2sru"
            style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>

    <footer class="contacts-footer">
        <div class="container footerTop">
            <div class="footerDescription">
                <h3 class="header3">Interested to work
                    with our team?</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="footerLinks">
                <a href="#" class="footerButton-1">Let's Talk!</a>
            </div>
        </div>
        <hr>
        <div class="container footerBottom">
            <div class="footerContacts">
                <ul>
                    <li class="footList listText">Lorem ipsum dolor sit amet consectetur. </li>
                    <li class="footList listTelephone">+111111111 </li>
                    <li class="footList listMail">email@email.com</li>
                </ul>
                <p class="AllRightsReserved">2020 All rights reserved. &copy;</p>
            </div>
        </div>
    </footer>
</body>

</html>